li.active {
  	background-color: #ddd;
}

ul.messages {
	padding-left: 0px;
	list-style: none;
}

.message {
	background-color: rgba(167, 206, 231, 0.87);
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.nav-item {
	padding: 15px;
	cursor: pointer;
}

.nav-link {
	padding: 0px;
	display: inline;
}

.nav-link:hover {
	color: #0275d8;
}
